<html>
<head>
    <title>igorrmotta</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="App" layout="column" ng-controller="NavigationController as nav" ng-cloak>
<md-toolbar layout="row" hide-gt-sm>
    <md-button class="menu" aria-label="Show Menu" ng-click="nav.showMenu()">
        <md-icon md-svg-icon="svg/menu.svg" ng-click="nav.showMenu()"></md-icon>
    </md-button>
    <h1>igorrmotta</h1>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="12" class="md-sidenav-left" ng-cloak>
        <md-icon id='logo' md-svg-src="svg/logo.svg"></md-icon>
        <md-list ng-click="nav.showMenu()">
            <md-list-item ng-repeat="page in nav.pages"
                          ng-class="nav.pageSelected.title == page.title ? 'list-item-selected': ''">
                <md-button href="#{{page.url}}" ng-click="nav.showPage(page)">
                    <md-icon class="md-avatar-icon" md-svg-src="{{page.icon}}"></md-icon>
                    <span>{{page.title}}</span>
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div id="container" ng-cloak ng-view flex>
    </div>
</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="app/NavigationService.js"></script>
<script src="app/NavigationController.js"></script>
<script>
    angular.module('App', ['ngMaterial', 'ngRoute', 'ngAnimate', 'navigation'])
            .config(['$routeProvider', function ($routeProvider) {

                $routeProvider
                        .when('/about', {
                            templateUrl: 'views/about.html',
                            controller: 'AboutController'
                        })
                        .when('/skills', {
                            templateUrl: 'views/skills.html',
                            controller: 'SkillsController'
                        })
                        .when('/education', {
                            templateUrl: 'views/education.html',
                            controller: 'EducationController'
                        })
                        .when('/courses', {
                            templateUrl: 'views/courses.html',
                            controller: 'CoursesController'
                        })
                        .when('/experience', {
                            templateUrl: 'views/experience.html',
                            controller: 'ExperienceController'
                        })
                        .when('/contact', {
                            templateUrl: 'views/contact.html',
                            controller: 'ContactController'
                        })
                        .otherwise({
                            redirectTo: '/about'
                        });
            }]);

    angular.module('App').controller('AboutController', function () {

    });

    angular.module('App').controller('SkillsController', function () {

    });

    angular.module('App').controller('EducationController', function () {

    });

    angular.module('App').controller('CoursesController', function () {

    });

    angular.module('App').controller('ExperienceController', function () {

    });

    angular.module('App').controller('ContactController', function () {

    });
</script>
</body>
</html>