@import 'functions';

$theme: (
        primary: #607D8B,
        secondary: #263238,
        accent: #009688
);

$REDUCE_PERCENTAGE: 0.25;

#container {
  background-color: val($theme, primary);
}

.main-header {
  width: 100%;
  background-color: val($theme, secondary);
  padding-left: 30px;
  color: #FFF;
}

md-sidenav {
  background-color: val($theme, secondary);

  #logo {
    width: 128px;
    height: 128px;
  }

  md-list {
    .list-item-selected {
      opacity: 1;
    }

    md-list-item {
      opacity: 0.7;

      span {
        color: #FFF;
      }
    }
  }
}

h3 {
  font-weight: 700;
  color: black;
  opacity: 0.55;
}

footer {
  margin-top: 20px;
  width: 100%;

  .navigation {
    margin-right: 20px;

    h3 {
      text-decoration: underline;
    }
  }
}

.about {
  background-color: val($theme, primary);
  padding-top: 10px;

  h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    opacity: 0.7;
    font-weight: 900;
    $font-size: 60pt;
    font-size: $font-size;
    @media screen and(max-width: 1100px) {
      font-size: $font-size - ($font-size * $REDUCE_PERCENTAGE);
    }

    @media screen and(max-width: 960px) {
      font-size: $font-size;
    }

    @media screen and (max-width: 785px) {
      font-size: $font-size - ($font-size * $REDUCE_PERCENTAGE);
    }

    @media screen and (max-width: 600px) {
      $font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
      font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
    }

    @media screen and (max-width: 450px) {
      $font-size: ($font-size - ($font-size * ($REDUCE_PERCENTAGE/2)));
      font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
    }

    @media screen and (max-width: 400px) {
      $font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
      font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
    }
  }

  .subheading {
    width: 100%;

    h3 {
      $font-size: 30pt;
      font-size: $font-size;
      $margin-right: 25px;
      $margin-left: 25px;
      margin: 10px $margin-right 10px $margin-left;

      @media screen and(max-width: 1100px) {
        font-size: $font-size - ($font-size * $REDUCE_PERCENTAGE);
        margin-right: $margin-right - ($margin-right * $REDUCE_PERCENTAGE);
        margin-left: $margin-left - ($margin-left * $REDUCE_PERCENTAGE);
      }

      @media screen and(max-width: 960px) {
        font-size: $font-size;
        margin-right: $margin-right;
        margin-left: $margin-left;
      }

      @media screen and (max-width: 785px) {
        font-size: $font-size - ($font-size * $REDUCE_PERCENTAGE);
        margin-right: $margin-right - ($margin-right * $REDUCE_PERCENTAGE);
        margin-left: $margin-left - ($margin-left * $REDUCE_PERCENTAGE);
      }

      @media screen and (max-width: 600px) {
        $font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
        font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
        $margin-right: ($margin-right - ($margin-right * $REDUCE_PERCENTAGE));
        margin-right: ($margin-right - ($margin-right * $REDUCE_PERCENTAGE));
        $margin-left: ($margin-left - ($margin-left * $REDUCE_PERCENTAGE));
        margin-left: ($margin-left - ($margin-left * $REDUCE_PERCENTAGE));
      }

      @media screen and (max-width: 450px) {
        $font-size: ($font-size - ($font-size * ($REDUCE_PERCENTAGE /2)));
        font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
        $margin-right: ($margin-right - ($margin-right * ($REDUCE_PERCENTAGE/2)));
        margin-right: ($margin-right - ($margin-right * $REDUCE_PERCENTAGE));
        $margin-left: ($margin-left - ($margin-left * ($REDUCE_PERCENTAGE/2)));
        margin-left: ($margin-left - ($margin-left * $REDUCE_PERCENTAGE));
      }

      @media screen and (max-width: 320px) {
        $font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
        font-size: ($font-size - ($font-size * $REDUCE_PERCENTAGE));
        $margin-right: ($margin-right - ($margin-right * $REDUCE_PERCENTAGE));
        margin-right: ($margin-right - ($margin-right * $REDUCE_PERCENTAGE));
        $margin-left: ($margin-left - ($margin-left * $REDUCE_PERCENTAGE));
        margin-left: ($margin-left - ($margin-left * $REDUCE_PERCENTAGE));
      }
    }
  }

  .avatar-photo {
    width: 256px;
    height: 256px;
    margin: 0;
  }

  .content {
    margin-top: 10px;
    width: 70%;
    text-align: justify;
    opacity: 0.7;
  }

}

.skills {
  .grid {
    width: 100%;
  }
  
  .card {
    background-color: val($theme, primary);
    margin-right: 5px;
    margin-top: 10px;

    .header {
      padding: 10px 5px 10px 10px;
      width: 100%;
      background-color: val($theme, secondary);

      md-icon, h2 {
        margin: 0;
        color: #fff;
      }
    }

    .content {
      padding: 10px 5px 10px 10px;

      md-icon {
        margin-right: 2px;
      }
    }
  }
}

.education {
  .card {
    background-color: val($theme, primary);
    margin-right: 5px;
    margin-top: 10px;

    .header {
      padding: 10px 5px 10px 10px;
      background-color: val($theme, secondary);

      h2 {
        margin: 0;
        color: #fff;
      }
    }

    .content {
      padding: 10px 5px 10px 10px;
      h3, h4 {
        margin: 0;
        color: #000000;
      }
    }
  }
}

.courses {
  .card {
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;

    .header {
      width: 100%;
      padding: 10px 5px 10px 10px;
      background-color: val($theme, secondary);

      h2 {
        margin: 0;
        color: #fff;
      }
    }

    .content {
      padding: 10px 5px 10px 10px;
      text-align: center;

      h3, h4 {
        margin: 0;
        color: #000000;
      }

      .item {
        margin-right: 10px;
      }
    }
  }
}

.experience {
  .card {
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;

    .header {
      width: 100%;
      padding: 10px 5px 10px 10px;
      background-color: val($theme, secondary);

      h2 {
        margin: 0;
        color: #fff;
      }
    }

    .content {
      padding: 10px 5px 10px 10px;
      text-align: center;

      h2, h3, h4 {
        margin: 0;
        color: #fff;
      }
      p {
        text-align: justify;
      }

    }
  }
}

.contact {
  .content {
    .card {
      padding: 10px 10px 5px;
      margin-right: 10px;

      .item {
      }
    }
  }
}