#container {
  background-color: #607D8B; }

.main-header {
  width: 100%;
  background-color: #263238;
  padding-left: 30px;
  color: #FFF; }

md-sidenav {
  background-color: #263238; }
  md-sidenav #logo {
    width: 128px;
    height: 128px; }
  md-sidenav md-list .list-item-selected {
    opacity: 1; }
  md-sidenav md-list md-list-item {
    opacity: 0.7; }
    md-sidenav md-list md-list-item span {
      color: #FFF; }

h3 {
  font-weight: 700;
  color: black;
  opacity: 0.55; }

footer {
  margin-top: 20px;
  width: 100%; }
  footer .navigation {
    margin-right: 20px; }
    footer .navigation h3 {
      text-decoration: underline; }

.about {
  background-color: #607D8B;
  padding-top: 10px; }
  .about h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    opacity: 0.7;
    font-weight: 900;
    font-size: 60pt; }
    @media screen and (max-width: 1100px) {
      .about h1 {
        font-size: 45pt; } }
    @media screen and (max-width: 960px) {
      .about h1 {
        font-size: 60pt; } }
    @media screen and (max-width: 785px) {
      .about h1 {
        font-size: 45pt; } }
    @media screen and (max-width: 600px) {
      .about h1 {
        font-size: 33.75pt; } }
    @media screen and (max-width: 450px) {
      .about h1 {
        font-size: 29.53125pt; } }
    @media screen and (max-width: 400px) {
      .about h1 {
        font-size: 22.14844pt; } }
  .about .subheading {
    width: 100%; }
    .about .subheading h3 {
      font-size: 30pt;
      margin: 10px 25px 10px 25px; }
      @media screen and (max-width: 1100px) {
        .about .subheading h3 {
          font-size: 22.5pt;
          margin-right: 18.75px;
          margin-left: 18.75px; } }
      @media screen and (max-width: 960px) {
        .about .subheading h3 {
          font-size: 30pt;
          margin-right: 25px;
          margin-left: 25px; } }
      @media screen and (max-width: 785px) {
        .about .subheading h3 {
          font-size: 22.5pt;
          margin-right: 18.75px;
          margin-left: 18.75px; } }
      @media screen and (max-width: 600px) {
        .about .subheading h3 {
          font-size: 16.875pt;
          margin-right: 14.0625px;
          margin-left: 14.0625px; } }
      @media screen and (max-width: 450px) {
        .about .subheading h3 {
          font-size: 14.76563pt;
          margin-right: 12.30469px;
          margin-left: 12.30469px; } }
      @media screen and (max-width: 320px) {
        .about .subheading h3 {
          font-size: 11.07422pt;
          margin-right: 9.22852px;
          margin-left: 9.22852px; } }
  .about .avatar-photo {
    width: 256px;
    height: 256px;
    margin: 0; }
  .about .content {
    margin-top: 10px;
    width: 70%;
    text-align: justify;
    opacity: 0.7; }

.skills .grid {
  width: 100%; }
.skills .card {
  background-color: #607D8B;
  margin-right: 5px;
  margin-top: 10px; }
  .skills .card .header {
    padding: 10px 5px 10px 10px;
    width: 100%;
    background-color: #263238; }
    .skills .card .header md-icon, .skills .card .header h2 {
      margin: 0;
      color: #fff; }
  .skills .card .content {
    padding: 10px 5px 10px 10px; }
    .skills .card .content md-icon {
      margin-right: 2px; }

.education .card {
  background-color: #607D8B;
  margin-right: 5px;
  margin-top: 10px; }
  .education .card .header {
    padding: 10px 5px 10px 10px;
    background-color: #263238; }
    .education .card .header h2 {
      margin: 0;
      color: #fff; }
  .education .card .content {
    padding: 10px 5px 10px 10px; }
    .education .card .content h3, .education .card .content h4 {
      margin: 0;
      color: #000000; }

.courses .card {
  margin-top: 10px;
  margin-right: 5px;
  text-align: center; }
  .courses .card .header {
    width: 100%;
    padding: 10px 5px 10px 10px;
    background-color: #263238; }
    .courses .card .header h2 {
      margin: 0;
      color: #fff; }
  .courses .card .content {
    padding: 10px 5px 10px 10px;
    text-align: center; }
    .courses .card .content h3, .courses .card .content h4 {
      margin: 0;
      color: #000000; }
    .courses .card .content .item {
      margin-right: 10px; }

.experience .card {
  margin-top: 10px;
  margin-right: 5px;
  text-align: center; }
  .experience .card .header {
    width: 100%;
    padding: 10px 5px 10px 10px;
    background-color: #263238; }
    .experience .card .header h2 {
      margin: 0;
      color: #fff; }
  .experience .card .content {
    padding: 10px 5px 10px 10px;
    text-align: center; }
    .experience .card .content h2, .experience .card .content h3, .experience .card .content h4 {
      margin: 0;
      color: #fff; }
    .experience .card .content p {
      text-align: justify; }

.contact .content .card {
  padding: 10px 10px 5px;
  margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
