<!--https://material.angularjs.org/latest/demo/gridList-->
<div class="skills" layout="column" layout-align="start center" layout-fill>
    <div class='main-header' md-whiteframe="12">
        <h1>Skills</h1>
    </div>

    <div layout="row">
        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Android</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Java</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Javascript</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>C#</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>
    </div>
    <div layout="row">
        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Ruby on Rails</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>AngularJS</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>NodeJS</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>C++</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>
    </div>
    <div layout="row">
        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Visual C++</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>C++/CLI</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Material Design</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Windows Phone</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>
    </div>
    <div layout="row">
        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>HTML5</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>CSS3</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Photoshop</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Illustrator</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h2>Premiere Pro</h2>
            </div>
            <div class='content' layout="row" layout-align="start center">
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/filled_circle.svg"></md-icon>
                <md-icon md-svg-src="svg/empty_circle.svg"></md-icon>
            </div>
        </div>
    </div>


</div>