<div class="about" layout="column" layout-align="start center">
    <md-icon class="avatar-photo" md-svg-src="svg/avatar.svg"></md-icon>
    <h1>Igor Rodrigues Motta</h1>
    <div class="subheading" layout="row" layout-align="center center">
        <h3>Software Developer</h3>
        <h3>Design Thinker</h3>
    </div>
    <div class="content" layout="row">
        <md-content md-whiteframe="12px" layout-padding flex>
            I love what I do. Technology combined with creativity are an infinite new world that we have been exploring.
            I'm really proud of being part of this new generation. Generation of small and powerful things made by
            humans. Most of all, I want to make difference and make the world a better place.
        </md-content>
    </div>
    <footer class="footer">
        <div class="navigation" layout="row" layout-align="end end">
            <md-button href="#skills" class="md-raised md-primary">
                Skills
                <md-icon md-svg-src="svg/ic_navigate_next_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>