<div class='contact' layout="column" layout-align="start center">
    <div class='main-header' md-whiteframe="12">
        <h1>Contact</h1>
    </div>

    <div class='content' layout="row" layout-align="center center">
        <div class='card' layout="column" md-whiteframe="12">
            <div class="item" layout="column" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h3>Sydney, NSW</h3>
            </div>
        </div>
        <div class='card' layout="column" md-whiteframe="12">
            <div class="item" layout="column" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h3>+61 0478 510 593</h3>
            </div>
        </div>
        <div class='card' layout="column" md-whiteframe="12">
            <div class="item" layout="column" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h3>igorrmotta@gmail.com</h3>
            </div>
        </div>
        <div class='card' layout="column" md-whiteframe="12">
            <div class="item" layout="column" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h3>linkedin.com.au/igorrmotta</h3>
            </div>
        </div>
        <div class='card' layout="column" md-whiteframe="12">
            <div class="item" layout="column" layout-align="start center">
                <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                <h3>igor.rodrigues.motta</h3>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="navigation" layout="row" layout-align="end end">
            <md-button href="#experience" class="md-raised">
                <md-icon md-svg-src="svg/ic_navigate_before_black_24px.svg"></md-icon>
                Work Experience & Projects
            </md-button>
        </div>
    </footer>
</div>