<div class='courses' layout="column" layout-align="start center">
    <div class='main-header' md-whiteframe="12">
        <h1>Extra Qualifications & Courses</h1>
    </div>

    <div layout="column" layout-align="start start">
        <div layout="row">
            <div class='card' layout="column" md-whiteframe="12" layout-align="center center">
                <div class='header' layout="row">
                    <h2>2016-2014</h2>
                </div>
                <div class="content" layout="column" layout-align="start start">
                    <div layout="row" layout-align="start start">
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Pluralsight</h3>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Lynda.com</h3>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Codeschool</h3>
                        </div>
                    </div>
                    <h4>Study through online platforms</h4>
                </div>
            </div>

            <div class='card' layout="column" md-whiteframe="12">
                <div class='header' layout="column" layout-align="start start">
                    <h2>2013</h2>
                </div>
                <div class="content" layout="column" layout-align="start start">
                    <div layout="row" layout-align="start start">
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Ideas Festival</h3>
                            <h4>- Nossobus Project -</h4>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Photography Course</h3>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Brazil Mobile Conference</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row">
            <div class='card' layout="column" md-whiteframe="12">
                <div class='header' layout="column" layout-align="start start">
                    <h2>2012</h2>
                </div>
                <div class="content" layout="column" layout-align="start start">
                    <div layout="row" layout-align="start start">
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Android</h3>
                            <h4>Developers Course</h4>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Startup Weekend</h3>
                            <h4>- Nossobus Project -</h4>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Windows Phone & Windows RT</h3>
                            <h4> Developers Course</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class='card' layout="column" md-whiteframe="12">
                <div class='header' layout="column" layout-align="start start">
                    <h2>2011</h2>
                </div>
                <div class="content" layout="column" layout-align="start start">
                    <div layout="row" layout-align="start start">
                        <div class="item" layout="column" layout-align="start center">
                            <md-icon md-svg-src="svg/ic_android_black_24px.svg"></md-icon>
                            <h3>Elipse Developers Course</h3>
                        </div>
                        <div class="item" layout="column" layout-align="start center">
                            <h4>Elipse Scada</h4>
                            <h4>Elipse E3</h4>
                            <h4>Elipse Power</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="navigation" layout="row" layout-align="end end">
            <md-button href="#education" class="md-raised">
                <md-icon md-svg-src="svg/ic_navigate_before_black_24px.svg"></md-icon>
                Education
            </md-button>
            <md-button href="#experience" class="md-raised md-primary">
                Work Experience & Projects
                <md-icon md-svg-src="svg/ic_navigate_next_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>