<div class='education' layout="column" layout-align="start center">
    <div class='main-header' md-whiteframe="12">
        <h1>Education</h1>
    </div>

    <div layout="column" layout-align="center start">
        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="column" layout-align="start start">
                <h2>2016-2015</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h3>Diploma of Digital Design</h3>
                <h4>Academy of Information Technology - AIT</h4>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="column" layout-align="start start">
                <h2>2015-2013</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h3>Bachelor of Information Systems</h3>
                <h4>Pontifical Catholic University of Rio Grande do Sul - PUCRS</h4>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="column" layout-align="start start">
                <h2>2013-2011</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h3>Bachelor of Computer Science</h3>
                <h4>Pontifical Catholic University of Rio Grande do Sul - PUCRS</h4>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12">
            <div class='header' layout="column" layout-align="start start">
                <h2>2010-2011</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h3>Diploma of Information Technology</h3>
                <h4>Alcides Maya</h4>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="navigation" layout="row" layout-align="end end">
            <md-button href="#skills" class="md-raised">
                <md-icon md-svg-src="svg/ic_navigate_before_black_24px.svg"></md-icon>
                Skills
            </md-button>
            <md-button href="#courses" class="md-raised md-primary">
                Extra Qualifications & Courses
                <md-icon md-svg-src="svg/ic_navigate_next_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>