<div class='experience' layout="column" layout-align="start center">
    <div class='main-header' md-whiteframe="12">
        <h1>Work Experience & Projects</h1>
    </div>

    <div layout="row" layout-align="start start">
        <div class='card' layout="column" md-whiteframe="12" layout-align="center center" flex="auto">
            <div class='header' layout="row">
                <h2>2015-2013</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h2>Software Developer</h2>
                <h3>Elipse Mobile</h3>
                <p>Innovation. Internet of things. Automation combined with mobile technologies can surprise and shock
                    anyone. Elipse Mobile is simply as that. It was developed in all technologies: Android, iOS, Windows
                    Phone, WebApp-SPA (plain-javascript). The webserver was an windows-based software. Everything was
                    made concerned about performance and safety. The main point for me of this project, was the idea of
                    develop the same product in many different languages and paradigms. Which implied and pushed me to
                    keep jumping between them and exercising all my knowledge in order to reach great results as fast as
                    we could get it. Also, I was part of the project since the start, I had been part of all decisions
                    of the software.</p>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12" layout-align="center center" flex="auto">
            <div class='header' layout="row">
                <h2>2014-2013</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h2>Software Developer</h2>
                <h3>Elipse TrendExplorer</h3>
                <p>Elipse TrendExplorer is a chart software for historical analysis. It was made in order to reach the
                    maximum performance of real-time data drawn and scaled in different graphics at the same
                    screen. Where you're able to manipulate the axis, pens, anything as you want. Elipse TrendExplorer
                    came up by the newest technologies of graphics and user experience. I had been part of this project
                    since the beginning. So many decisions of design, code structure, user experience and performance
                    were taken. Long journeys of coding were done, since everything that you can see at the screen was
                    coded in canvas. A massive part of my knowledge and mathematics was put to proof in this project.
                    All the results just look great! You can check it out. </p>
            </div>
        </div>

        <div class='card' layout="column" md-whiteframe="12" layout-align="center center" flex="auto">
            <div class='header' layout="row">
                <h2>2013-2011</h2>
            </div>
            <div class="content" layout="column" layout-align="start start">
                <h2>Software Tester</h2>
                <h3>Elipse E3</h3>
                <p>I was part of the E3 team. I had to design and create plans of tests (including automated tests).
                    For every feature of E3, there were many tests which had to be created and applied for any change
                    that implied on that. Elipse E3 is a software that runs in many industries, as an automation
                    supervisory system. Due to this fact, every single feature had to be really well tested before its
                    release.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="navigation" layout="row" layout-align="end end">
            <md-button href="#courses" class="md-raised">
                <md-icon md-svg-src="svg/ic_navigate_before_black_24px.svg"></md-icon>
                Extra Qualifications & Courses
            </md-button>
            <md-button href="#contact" class="md-raised md-primary">
                Contact
                <md-icon md-svg-src="svg/ic_navigate_next_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>