<div class="skills" layout="column" layout-align="start center">
    <div class='main-header' md-whiteframe="12">
        <h1>Skills</h1>
    </div>

    <md-grid-list class="grid" md-cols="3" md-row-height="1:1">
        <md-grid-tile>
            <md-grid-tile-header>
                <h3>This is a header</h3>
            </md-grid-tile-header>
            <md-icon md-svg-src="svg/education.svg"></md-icon>
            <md-grid-tile-footer>
                <h3>#1: (3r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile>
            <md-grid-tile-header>
                <h3>This is a header</h3>
            </md-grid-tile-header>
            <md-icon md-svg-src="svg/education.svg"></md-icon>
            <md-grid-tile-footer>
                <h3>#1: (3r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>

    <footer class="footer">
        <div class="navigation" layout="row" layout-align="end end">
            <md-button href="#about" class="md-raised">
                <md-icon md-svg-src="svg/ic_navigate_before_black_24px.svg"></md-icon>
                About
            </md-button>
            <md-button href="#education" class="md-raised md-primary">
                Education
                <md-icon md-svg-src="svg/ic_navigate_next_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </footer>
</div>
